body{
    color: rgb(201, 214, 255);
    color: #E2E2E2;

    color: #d9a7c7;
    color: #fffcdc;

    color: #4AC29A;
    color: #BDFFF3;

    color: #B2FEFA;
    color: #0ED2F7;

    color: #20002c;
    color: #cbb4d4;

    color:rgb(97, 144, 232);
    color:rgb(167, 191, 232);

    color:#43C6AC;
    color:#F8FFAE;

    color:#FFAFBD;
    color:#FFC3A0;

    color:rgb(244, 196, 243);
    color:#FC67FA;

    color:rgb(161, 255, 206);
    color:#FAFFD1;

    color:#FF5F6D;
    color:#FFC371;

    color:#EECDA3;
    color:#EF629F;
}
